#bx{
    border: #8d8d8d;
    background: rgb(235,238,174);
background: linear-gradient(90deg, rgba(235,238,174,1) 0%, rgba(148,150,233,1) 100%);
}
#regh1{
    font-size: 25px;
    font-weight: bold;
}